*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: sans-serif;
}
body{
    background-color: #001;
}
.container{
    display: flex;
}
.profile{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}
.profile .img-box img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
}
.profile h2{
    font-size: 20px;
}
.menu{
    background-color: #123;
    width: 58px;
    overflow: hidden;
    height: 100vh;
    padding: 20px;
    transition: 0.5s;
}
.menu:hover{
    width: 260px;
}
.menu ul{
    list-style-type: none;
    position: relative;
    height: 95%;
}
.menu ul li a{
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 40px;
    transition: 0.3s;
}
.menu ul li a:hover , .active{
    background-color: #ffffff50;
}
.log-out{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.log-out a{
    background-color: #ff000080;
}
.log-out:hover .log-out-in{
    background-color: #ff0000bb;
}
.menu ul li i{
    font-size: 30px;
}
.content{
    width: 100%;
    margin: 10px;
}
.title-info{
    width: 98%;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(4, 129, 255);
    margin: 10px 0;
}
.content .data-info .info-box{
    width: 300px;
    height: 180px;
    border-radius: 8px;
    background-color: #123;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    transition: 0.2s;
}
.content .data-info .info-box i{
    font-size: 40px;
}
.content .data-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.data{
    text-align: center;
    font-size: 30px;
}
.content .data-info .info-box:hover{
    background-color: #ffffff50;
}
table{
    width: 95%;
    margin: auto;
    border-spacing: 12px;
    text-align: center;
}
table thead tr{
    background-color: rgb(4, 129, 255);
}
table tbody tr{
    background-color: #123;
}
td,th{
    height: 40px;
    border-radius: 8px;
    transition: 0.2s;
}
td:hover{
    background-color: #ffffff50;
}
.price ,.count{
    padding: 6px;
    border-radius: 6px;
}
.price{
    background-color: green;
}
.count{
    background-color: gold;
    color: black;
}
@media screen and (max-width:650px) and (min-width:432px) {
    .menu{
        width: 70px;
    } 
}
@media screen and (max-width: 431px){
    .content .data-info .info-box{
        width: 220px;
    }
    .menu{
        width: 70px;
    } 
}
